@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin number-item {
  font-family: $primary-font;
  font-size: 280px;
  color: $bg-primary;
  position: absolute;
  display: block;
  left: 120px;
  top: -37px;
  z-index: -1;
}
