.additional-products {
  position: relative;
}

.additional-products__title {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 36px;
  position: relative;
  margin-top: 23px;

  &--line {
    width: fit-content;
    position: relative;

    &::before {
      content: "";
      right: calc(100% + 40px);
      width: 100vw;
      position: absolute;
      top: 50%;
      height: 2px;
      background: $green;
      z-index: 1;
    }

    &::after {
      content: "";
      width: 100vw;
      position: absolute;
      top: 50%;
      height: 2px;
      background: $green;
      left: calc(100% + 40px);
    }
  }
}

.additional-products__container {
  font-size: 16px;
  line-height: 1.2;
  color: $text-light;
  text-align: center;
  padding: 187px 61px 43px 58px;
  display: block;
  height: 290px;
  background-image: url("../../images/catalog-background@2x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &::before {
    content: "";
    background-image: url("../../icons/icon-gift.svg");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 78px;
    height: 80px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 30%;
      left: 17%;
    }

    @media (min-width: $desktop-width) {
      top: 19%;
      left: 50%;
    }
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  list-style: none;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional-products__lead {
  margin: 0;
  width: 161px;
  line-height: 1.25;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding-bottom: 76px;
  }

  .additional-products__list {
    width: 708px;
    padding-bottom: 70px;
  }

  .additional-products__title {
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: 80px;
  }

  .additional-products__container {
    width: 100%;
    background-size: cover;
    background-position: 30%;
    height: 200px;
    padding: 0;
  }

  .additional-products__lead {
    display: block;
    width: 161px;
    position: absolute;
    top: 36%;
    right: 17%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    margin-top: 20px;
    margin-bottom: 90px;
    padding-bottom: 0;
  }

  .additional-products__list {
    min-width: 896px;
    padding-bottom: 0;
  }

  .additional-products__item:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .additional-products__container {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    padding: 40px 20px;
    width: 245px;
    min-height: 289px;
  }

  .additional-products__lead {
    padding-top: 80px;
    text-align: center;
  }

  .additional-products__title {
    margin: 0 0 40px;
    text-align: left;
    color: #000000;
    font-size: 40px;
    margin-bottom: 80px;
  }

  .additional-products__wrapper {
    display: flex;
    gap: 80px;
  }
}
