.body {
  overflow-x: hidden;
  max-width: 100%;
}

@media (min-width: $desktop-width) {
  .body--bg {
    &::before {
      content: "";
      background-image: url("../../images/bg-index-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 50% auto;
      position: absolute;
      width: 100vw;
      height: 694px;
      top: 0;
    }
  }
}
