.button,
.button-link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  color: $text-light;
  background-color: $green;
  text-transform: uppercase;

  &--different {
    color: $text-dark;
    background-color: $bg-primary;
  }
}

.button-link {
  &:hover {
    background-color: $green-dark;
  }
}
