.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  color: $text-light;
  background-color: $btn-primary-color;

  &--different {
    color: $text-dark;
    background-color: $bg-primary;
  }
}
