.card-item__title--different {
  display: block;
  text-align: center;
  color: #111111;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 8px;
}

.card-item__property--different {
  padding-bottom: 15px;
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  color: $text-dark;
}

.card-item--empty {
  position: relative;
  padding-top: 25px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 25px;

  &::after {
    content: "";
    background-color: none;
    width: 100vw;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    content: " ";
    background-image: url("../../icons/plus.svg");
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-top: 25px;
      width: 60px;
      height: 60px;
    }
  }
}

@media (min-width: $tablet-width) {
  .card-item {
    border: 1px solid $bg-secondary;
    margin-top: 80px;
  }

  .card-item__title {
    width: 135px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }


  .card-item__property--different {
    font-size: 16px;
    width: 170px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 66px;
  }


  .card-item__title--different {
    margin-top: 37px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .card-item__title--different {
    width: 134px;
    margin: 0 auto;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 20px;
  }
}
