.card__title {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: $text-secondary;
  text-transform: uppercase;
  grid-column: 1/1;
  margin: 0;
  padding-bottom: 15px;
  text-decoration: none;
  display: block;
}

.card__property {
  font-size: 12px;
  line-height: 1.3;
  color: $text-dark;
}

.card {
  display: grid;
  grid-template-columns: 140px 2fr;
  grid-template-rows: 1fr auto auto auto;
  padding-bottom: 25px;
  position: relative;
  padding-top: 20px;
  height: 209px;

  &::after,
  &::before {
    content: "";
    background-color: #d9d9d9;
    width: 100vw;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.card__link {
  padding-bottom: 10px;
  margin: auto;
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-column: 1/-1;
}

.card__image {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: center;
}

.card__container {
  display: grid;
  grid-template-columns: 76px 2fr;
  padding-bottom: 17px;
  max-width: 140px;
}

.card__item {
  display: flex;
  justify-content: space-between;
}


@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;
    height: 511px;
    padding: 10px 37px 20px;
    background: linear-gradient(to bottom, $text-light 81px, $bg-secondary 0);
  }

  .card picture {
    width: 200px;
    height: 210px;
    margin: 0 auto;
  }

  .card picture {
    display: flex;
    justify-content: center;
  }

  .card__link {
    margin: 0 auto;
  }

  .card__container {
    display: inline-block;
    max-width: 250px;
  }

  .card__title {
    width: 135px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }


  .card__property {
    font-size: 16px;
  }

  .card__item {
    position: relative;
    margin-bottom: 10px;

    &::after {
      content: "";
      background-color: #d9d9d9;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -5px;
      left: 0;
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .card {
    padding: 0;
  }

  .card__list {
    padding: 25px 38px 15px 25px;
  }

  .card__title {
    width: 140px;
    padding: 0;
  }

  .card__property {
    padding-left: 18px;
  }

  .card__link {
    padding-bottom: 20px;
  }
}
