.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 41px;
}

.catalog__button {
  grid-column: 1/-1;
  max-width: 280px;
  padding: 10px;
  width: 100%;
  place-items: center;
  display: grid;
  margin-top: 7px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    padding: 0;
    padding-bottom: 84px;
  }

  .catalog__list {
    flex-direction: row;
    gap: 60px;
    padding-bottom: 44px;
  }

  .catalog__item {
    width: 324px;
  }

  .catalog__button {
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding-top: 70px;
  }

  .catalog__list {
    gap: 80px;
  }

  .catalog__item {
    width: 245px;
  }

  .catalog__button {
    margin-top: 18px;
    margin-left: 18px;
    width: 169px;
  }

  .catalog__list {
    row-gap: 63px;
  }

}
