.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
  }

  .catalog__list {
    flex-direction: row;
    gap: 60px;
  }

  .catalog__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    gap: 80px;
  }

  .catalog__item {
    width: 245px;
  }
}

.catalog__button {
  grid-column: 1/-1;
  padding: 10px;
  width: 100%;
  place-items: center;
  display: grid;
  margin-top: 21px;
}
