.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
