.copyright__logo {
  mask-image: url("../../icons/stack.svg#logo-html");
  background-color: currentColor;
  width: 27px;
  height: 34px;
  cursor: pointer;
  display: inline-block;
  color: #666666;

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 60%;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.copyright-wrapper {
  min-width: 280px;
}

.copyright__text {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #666666;
  font-size: 16px;

  &:active {
    opacity: 60%;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 23px;
    width: 170px;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  
}
