.demo {
  position: relative;
  height: 256px;
}

.demo__image {
  position: absolute;
  transform: translate(-50%, 0);
}

.demo-container {
  background-color: #666666;
  width: 4px;
  height: 100%;
  display: block;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  top: 0;
  cursor: pointer;
  z-index: 2;
}

.demo__slider {
  position: relative;
}

.demo__toggle {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background: none;
  color: #666666;
  transition: color 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 60%;
  }
}

.demo__toggle-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.demo__image--before {
  clip-path: inset(0 50% 0 0);
}

.demo__image--after {
  clip-path: inset(0 0 0 50%);
}

@media (min-width: $tablet-width) {
  .demo {
    height: 512px;
    margin-top: 90px;
    padding-left: 75px;
  }
}

@media (min-width: $desktop-width) {
  .demo {
    margin-top: 20px;
    padding-left: 147px;
  }
}
