.demo {
  position: relative;
  height: 256px;
  padding: 0;
}

.demo__image {
  min-width: 280px;
}

.demo__slider-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.demo__slider {
  background-color: #666666;
  width: 4px;
  height: 100%;
  display: block;
  border-radius: 2px;
  position: absolute;
  left: unset;
  top: 0;
  cursor: pointer;
  z-index: 2;
}

.demo__toggle {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background: none;
  color: #666666;
  transition: color 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 60%;
  }
}

.demo__toggle-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.demo__image--before {
  clip-path: inset(0 50% 0 0);

  @media (min-width: $tablet-width) {
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.demo__image--after {
  clip-path: inset(0 0 0 50%);
  position: absolute;
  top: 0;
}

@media (min-width: $tablet-width) {
  .demo {
    height: 512px;
    margin-top: 90px;
    margin-left: 75px;
  }

  .demo__slider-wrapper {
    left: 44%;
      }

  .demo__image {
    min-width: 560px;
  }
}

@media (min-width: $desktop-width) {
  .demo {
    margin-top: 20px;
    padding: 0;
    margin-left: 145px;
  }

  .demo__slider-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
}
