.experience {
  background-color: $bg-secondary;
  padding-bottom: 40px;
}

.experience__demo {
  padding: 0;
}

.experience__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 40px;
}

.experience__description {
  color: $text-dark;
  line-height: 1.3;
  margin: 0;
  padding-bottom: 20px;
}

.experience__statistics {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 12px 10px 17px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.experience__list {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 32px;
}

.experience__item {
  width: 124px;
  position: relative;
  text-align: center;
}

.experience__caption {
  color: $text-dark;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  display: block;
  top: 87%;
  text-align: center;
  z-index: 1;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  background: $bg-secondary;
  padding: 0 10px;
}

.experience__costs {
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .experience {
    border-top: 1px #e6e6e6 solid;
    background-color: $text-light;
    background-image: linear-gradient($text-light 60%, $bg-secondary 25%);
    padding-bottom: 95px;
  }

  .experience-container {
    margin: 0;
    padding-top: 40px;
  }

  .experience__list {
    align-items: center;
    gap: 42px;
  }

  .experience__title {
    font-size: 60px;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
  }

  .experience-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 42px;
  }

  .experience__item {
    width: 162px;
    position: relative;
  }

  .experience__description {
    min-width: 708px;
    padding-bottom: 55px;
    line-height: 1.5;
    font-size: 16px;
  }

  .experience__statistics {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .experience__caption {
    background-color: $text-light;
    white-space: nowrap;
    top: 87%;
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .experience {
    border: none;
    margin: 0;
    height: 598px;
    background-image: linear-gradient($text-light 28%, $bg-secondary 27%);
    padding-bottom: 60px;
  }

  .experience__container {
    display: flex;
    gap: 80px;
    height: 512px;
  }

  .experience__title {
    position: relative;
    padding-bottom: 142px;

    &::after {
      content: "";
      position: absolute;
      background-color: $bg-primary;
      width: 100%;
      height: 462px;
      display: block;
      z-index: -1;
      top: 0;
    }
  }

  .experience__costs {
    display: flex;
    column-gap: 64px;
  }

  .experience__caption {
    background-color: $bg-secondary;
  }

  .experience-container {
    width: 436px;
    padding-top: 20px;
  }

  .experience__description {
    min-width: 0;
    padding-bottom: 69px;
  }

  .experience__list {
    padding-bottom: 50px;
  }
}
