.experience {
  background-color: $bg-secondary;
}

.experience__description {
  color: $text-dark;
}

.experience__statistics {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 1;
}

.experience__caption {
  color: $text-dark;
  font-size: 12px;
  line-height: 1;
}
