@media (min-width: $tablet-width) {
  .experience-container {
    margin: 0;
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .experience-container {
    width: 436px;
    padding-top: 20px;
  }
}
