.experience {
  background-color: $bg-secondary;
}

.experience__description {
  color: $text-dark;
}

.experience__statistics {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 1;
}

.experience__caption {
  color: $text-dark;
  font-size: 12px;
  line-height: 1;
}

.experience__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 32px;

}

.experience__item {
  width: 124px;
}

@media (min-width: $tablet-width) {
  .experience-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .experience__item {
    width: 162px;
  }
}
