.feature {
  list-style: none;

  &::before {
    content: "";
    background-color: $green;
    background-position: center;
    width: 60px;
    height: 60px;
    display: block;
    background-size: 30px 32px;
    background-repeat: no-repeat;

  }

  &--benefit {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-leaf");
    }
  }

  &--drink {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-wash");
    }
  }

  &--eat {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-eat");
    }
  }

  &--time {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-time");
    }
  }
}

.features__list {
  padding: 0;
  margin: 0;
}

.features__item {
  display: flex;
  gap: 20px;
}

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    column-gap: 153px;
    row-gap: 37px;
    flex-wrap: wrap;
  }

  .features__item {
    width: 246px;
    height: 280px;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    gap: 79px;
    width: auto;
  }
}
