.feature {
  list-style: none;
  padding-bottom: 20px;


  &::before {
    content: "";
    background-color: $green;
    background-position: center;
    width: 60px;
    height: 60px;
    display: block;
    background-size: 30px 32px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    align-self: center;

    @media (min-width: $tablet-width) {
      align-self: auto;
      width: 80px;
      height: 80px;
    }
  }

  &--benefit {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-leaf");
    }
  }

  &--drink {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-wash");
    }
  }

  &--eat {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-eat");
    }
  }

  &--time {
    padding: 0;

    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-time");
    }
  }
}

.feature__description {
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .feature {
    position: relative;
  }

  .feature__description {
    font-size: 16px;
    padding-top: 11px;
    max-width: 245px;
    line-height: 1.5;
  }

  .feature--benefit {
    position: relative;

    &::after {
      @include number-item;
      content: "1";
    }
  }

  .feature--drink {
    &::after {
      @include number-item;
      content: "2";
    }
  }

  .feature--eat {
    &::after {
      @include number-item;
      content: "3";
    }
  }

  .feature--time {
    &::after {
      @include number-item;
      content: "4";
    }
  }
}
