.feature {
  list-style: none;

  &::before {
    content: "";
    background-color: $green;
    background-position: center;
    width: 60px;
    height: 60px;
    display: block;
    background-size: 30px 32px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    align-self: center;

    @media (min-width: $tablet-width) {
      align-self: auto;
    }
  }

  &--benefit {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-leaf");
    }
  }

  &--drink {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-wash");
    }
  }

  &--eat {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-eat");
    }
  }

  &--time {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#icon-time");
    }
  }
}

.features__list {
  padding: 0;
  margin: 0;
}

.features__item {
  display: flex;
  gap: 20px;
}

.feature__description {
  line-height: 1.2;
}

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    column-gap: 153px;
    row-gap: 37px;
    flex-wrap: wrap;
  }

  .features__item {
    width: 246px;
    height: 280px;
    flex-direction: column;
    padding-top: 40px;
  }

  .feature {
    position: relative;
  }

  .feature--benefit {
    position: relative;

    &::after {
      @include number-item;
      content: "1";
    }
  }

  .feature--drink {
    &::after {
      @include number-item;
      content: "2";
    }
  }

  .feature--eat {
    &::after {
      @include number-item;
      content: "3";
    }
  }

  .feature--time {
    &::after {
      @include number-item;
      content: "4";
    }
  }

  .feature__description {
    line-height: 1.5;
  }
}


@media (min-width: $desktop-width) {
  .features__list {
    gap: 0;
    width: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
