.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.footer__logo {
  margin-bottom: 3px;
  width: 280px;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  mask-image: url("../../icons/stack.svg#logo-html");
  background-color: currentColor;
  width: 27px;
  height: 34px;
  cursor: pointer;
  display: inline-block;
  color: #666666;

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 60%;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    margin: 0;
    background-color: $bg-primary;
    padding: 55px 30px;
  }

  .footer__wrapper {
    width: 768px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .footer__logo {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .footer__social-list {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 70px 110px;
  }

  .footer__wrapper {
    width: 1220px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    display: flex;
    justify-content: space-between;
  }
}
