.footer__copyright {
  mask-image: url("../../icons/stack.svg#logo-html");
  background-color: currentColor;
  width: 27px;
  height: 34px;
  cursor: pointer;
  display: inline-block;
  color: #666666;

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 60%;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 708px;
  }

  .footer__logo {
    grid-column: 1/1;
  }

  .footer__social-list {
    grid-column: 2/3;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 1220;
  }
}
