@media (max-width: $mobile-width) {
  .header-index {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: $text-light;
  }

  .header--nojs {
    position: static;
  }

  .header-catalog {
    position: static;
  }

  .header--nojs.hero__wrapper {
    margin-top: 0;
  }

  .header-index.header--nojs {
    ~.main-container .hero__wrapper {
      margin-top: 0;
    }
  }
}
