 @media (max-width: 767px) {
   .hero__title {
     line-height: 1;
     color: $text-light;
     padding-top: 27px;
     margin: 0;
   }

   .hero__slogan {
     line-height: 1;
     padding-bottom: 29px;
     text-transform: uppercase;
   }

   .hero {
     font-family: $primary-font;
     color: $text-light;
     text-align: center;
     height: 480px;
     
   }


   .hero__wrapper {
     background: $green-dark url("../../images/bg-index-mobile@2x.png") no-repeat center;
     height: 302px;
     width: 100%;
     padding: 0;
     margin: 0;
     padding-bottom: 20px;
     margin-top: 66px;
   }


   .hero__button-link {
     padding: 11px 64px;
     display: inline-block;
     text-transform: uppercase;
     font-family: $primary-font;
   }
 }

 @media (min-width: $tablet-width) {
   .hero {
     background-color: $text-light;
     text-align: left;
     position: relative;
     background: none;
   }

   .hero__title {
     color: $text-primary;
     padding-left: 120px;
     font-size: 60px;
   }

   .hero__slogan {
     color: $text-primary;
     margin-left: 120px;
     font-size: 20px;
     font-family: $primary-font;
   }

   .hero__button-link {
     position: absolute;
     left: 140px;
     padding: 14px 26px;
   }

  }

 @media (min-width: $desktop-width) {
   .hero {
     position: relative;
     padding-left: 0;
     height: 500px;
   }

   .hero__title {
     padding-left: 80px;
   }

   .hero__slogan {
     margin: 0;
     padding-left: 80px;
     padding-bottom: 52px;
   }

   .hero__button-link {
     margin-left: 54px;
   }

   .hero img {
     position: absolute;
     top: -60px;
     left: 35%;
     z-index: 3;
   }
 }
