@media (max-width: 767px) {
  .hero__title {
    line-height: 1;
    color: $text-light;
    padding-top: 27px;
    margin: 0;
  }

  .hero__slogan {
    line-height: 1;
    padding-bottom: 15px;
    text-transform: uppercase;
    padding-top: 11px;
  }

  .hero {
    font-family: $primary-font;
    color: $text-light;
    text-align: center;
    height: 480px;
  }

  .hero__wrapper {
    background: $green-dark url("../../images/bg-index-mobile@2x.png") no-repeat center;
    height: 302px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    margin-top: 66px;
  }

  .hero__button-link {
    padding: 11px 64px;
    display: inline-block;
    text-transform: uppercase;
    font-family: $primary-font;
    margin-top: 273px;
  }

  .hero img {
    position: absolute;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    background-color: $text-light;
    text-align: left;
    position: relative;
    background: none;
    padding-left: 160px;
    height: 810px;
  }

  .hero__title {
    color: $text-primary;
    font-size: 60px;
    margin: 0;
    line-height: 1;
    padding-bottom: 40px;
  }

  .hero__slogan {
    color: $text-primary;
    font-size: 20px;
    font-family: $primary-font;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
  }

  .hero__button-link {
    font-size: 20px;
    line-height: 1.3;
    position: absolute;
    padding: 14px 26px;
    top: 229px;
    left: 0;
  }

  .hero img {
    position: absolute;
    top: 202px;
    right: 80px;
  }

  .hero__wrapper {
    margin: 0 auto;
    max-width: 768px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    position: relative;
    padding-left: 270px;
    height: 578px;
  }

  .hero__slogan {
    margin: 0;
    padding-left: 0;
    padding-bottom: 52px;
  }

  .hero__button-link {
    top: 99%;
    left: 0;
  }

  .hero img {
    position: absolute;
    top: 26px;
    left: 29%;
    z-index: 3;
  }

  .hero__wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }

  .hero__title {
    padding-top: 110px;
  }
}
