.lead {
  height: 362px;
}

.lead__subtitle {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.lead__address {
  line-height: 1.4;
  color: $text-dark;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.lead__wrapper {
  display: flex;
  padding: 6px 20px;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .lead {
    height: 400px;
  }

  .lead__wrapper {
    padding: 60px 70px;
  }

  .lead__address {
    line-height: 1.25;
    font-size: 16px;
    text-align: right;
    margin: 0;
    padding: 0;
  }

  .lead__subtitle {
    font-size: 20px;
    line-height: 1.25;
    margin: 0;
  }

  .lead__address span:last-child {
    margin-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .lead {
    position: relative;
  }

  .lead__wrapper {
    width: 568px;
    position: absolute;
    background-color: $text-light;
    top: 95px;
    left: 110px;
    padding-left: 80px;
  }

  .lead__subtitle {
    font-size: 20px;
    padding-top: 5px;
  }

  .lead__address {
    font-size: 16px;
    text-align: left;
    flex-grow: 1;
    padding-left: 95px;
  }
}
