.map--color {
  background-color: $bg-primary;
}

.map__address {
  width: 100%;
  height: 362px;
}

.map--catalog {
  background-color: $bg-primary;
}

@media (min-width: $tablet-width) {
  .map {
    height: 600px;
    background-color: $bg-secondary;

    &--light {
      background-color: $text-light;
    }
  }

  .map__address {
    height: 200px;
  }

  .map--color {
    background-color: $bg-primary;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 400px;
    background-color: $bg-secondary;
  }
}
