.map iframe {
  display: block;
  border: none;
}

.map {
  height: 474px;
}

.map--catalog {
  background-color: $bg-primary;
}

@media (min-width: $tablet-width) {
  .map {
    height: 600px;
    background-color: $bg-secondary;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 400px;
    padding-top: 20px;
    background-color: $bg-secondary;
  }
}
