.map iframe {
  display: block;
  border: none;
}

.map {
  height: 474px;
}

.map--catalog {
  background-color: $bg-primary;
}

@media (min-width: $tablet-width) {
  .map {
    height: 600px;
    background-color: $bg-secondary;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 400px;
    padding-top: 20px;
    background-color: $bg-secondary;
  }
}

#map {
  width: 100%;
  height: 362px;
}

@media (max-width: 768px) {
  #map {
    height: 400px;
  }
}

@media (max-width: 480px) {
  #map {
    height: 200px;
  }
}
