.navigation {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 704px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 55px;
  }
}

.navigation__logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;

  picture:last-child {
    padding-left: 56px;

    @media (min-width: $tablet-width) {
      padding-left: 13px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.navigation__logo {
  display: flex;
  position: relative;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 174px;
    display: block;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-width: 436px;
    font-size: 18px;
    line-height: 1.3;
    gap: 33px;
    height: 50px;
  }
}

.navigation__item {
  padding-top: 22px;
  padding-bottom: 24px;
  z-index: 2;
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      text-decoration: underline;
      text-decoration-color: $green;
      opacity: 1;
      text-underline-offset: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    &:active {
      text-decoration: underline;
      text-decoration-color: $text-light;
      opacity: 1;
      text-underline-offset: 10px;
    }
  }
}

.navigation__item-link {
  text-decoration: none;
  color: $text-primary;

  @media (min-width: $desktop-width) {
    color: $text-light;
    font-size: 20px;
  }
}

.navigation__toggle {
  padding: 0;
  padding-top: 10px;
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-color: $text-light;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--close {
  .navigation__toggle::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../../icons/stack.svg#burger");
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}

.navigation--open {
  .navigation__toggle::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../../icons/stack.svg#close");
    background-size: 18px 18px;
    background-repeat: no-repeat;
  }
}

@media (max-width: $mobile-width) {
  .navigation--close .navigation__list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation__item-link--color {
    color: $text-dark;
  }
}
