.navigation {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 1;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 704px;
    margin: 0 auto;
  }

  .navigation__list {
    width: 436px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    width: 1220px;
  }
}

.navigation__item-link {
  text-decoration: none;
  color: $text-primary;
}

.navigation__toggle {
  background-image: url("../../icons/stack.svg#burger");
  background-size: 24px 24px;
  background-color: $text-light;
  width: 24px;
  height: 24px;
  border: none;
  background-repeat: no-repeat;
}

.navigation__toggle--close {
  background-image: url("../../icons/stack.svg#close");
  background-size: 18px 18px;
}
