@media (min-width: $desktop-width) {
  .page__body--bg {
    &::before {
      content: "";
      background-color: $green;
      position: absolute;
      height: 694px;
      width: 50%;
      top: -55px;
      right: 0;
      z-index: 1;
    }
  }
}
