.product {
  position: relative;
  border-top: 1px solid #d9d9d9;
  padding-top: 13px;
  padding-bottom: 19px;
}

.product:last-child {
  border-bottom: 1px solid #d9d9d9;
}

.product__title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  color: $text-secondary;
  margin: 0;
  padding-bottom: 13px;
  text-transform: uppercase;
  font-weight: 400;
}

.product__property {
  line-height: 1;
  color: $text-dark;
}

.product__list {
  margin: 0;
  padding: 0;
}

.product__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.product__button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product {
    display: grid;
    grid-template-columns: 1fr 265px;
    border: 1px solid #d9d9d9;
    padding: 26px 38px 28px;
  }

  .product:not(:first-child) {
    border-top: none;
  }

  .product__button {
    grid-column: 1/-1;
    margin: 0;
  }

  .product__item {
    justify-self: end;
    gap: 50px;
  }

  .product__title {
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    padding-bottom: 25px;
  }

  .product__property {
    font-size: 16px;
    padding-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    display: grid;
    grid-template-columns: 325px 325px 245px;
    padding: 15px 0;
  }

  .product:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .product__title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    grid-column: 1/2;
    align-self: center;
  }

  .product__list {
    margin: 0;
    padding: 0;
    padding-right: 40px;
    display: flex;
  }

  .product__item {
    width: 100%;
  }

  .product__property {
    align-self: center;
  }

  .product__button {
    grid-column: 3/4;
    place-items: center;
    margin: 0;
  }
}
