.product__title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  color: $text-secondary;
}

.product__property {
  line-height: 1;
  color: $text-dark;
}



@media (min-width: $tablet-width) {
  .product {

  }
}
