.program {
  background-color: $bg-primary;
  list-style: none;
  margin-bottom: 20px;
  height: 266px;

  &--slim {
    background-image: url("../../icons/stack.svg#cat-1");
    background-size: 50px 53px;
    background-repeat: no-repeat;
    background-position: 20px 21px;
  }

  &--pro {
    background-image: url("../../icons/stack.svg#cat-2");
    background-size: 67px 50px;
    background-repeat: no-repeat;
    background-position: 13px 24px;
  }
}

.program__wrapper {
  padding-left: 20px;
  padding-bottom: 16px;
  padding-right: 33px;
}

.program__title {
  font-family: $primary-font;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding-top: 30px;
  padding-left: 70px;
  padding-bottom: 31px;
}

.program__description {
  color: $text-dark;
  line-height: 1.3;
  margin: 0;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    width: 240px;
    margin-top: 19px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.program__link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: $text-primary;
  text-transform: uppercase;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 40px;

  &::after {
    content: "";
    background-image: url("../../icons/stack.svg#arrow");
    width: 32px;
    height: 12px;
    transition: transform 0.3s ease;
  }

  &:active {
    opacity: 30%;
  }

  &:hover::after {
    transform: scaleX(1.2);
    transform-origin: left;
  }
}

@media (min-width: $tablet-width) {
  .program__link {
    margin: 0;
    gap: 25px;
  }

  .program {
    margin-bottom: 30px;

    &--slim {
      background-size: 200px 211px;
      background-position: 445px 50%;
      height: 372px;
    }

    &--pro {
      background-size: 268px 200px;
      background-position: 411px 50%;
      height: 372px;
    }
  }

  .program__wrapper {
    padding: 77px 0 52px 52px;
  }

  .program__title {
    margin: 0;
    padding: 0;
    padding-left: 0;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 24px;
  }

  .program__description {
    width: 340px;
    padding-bottom: 48px;
    font-size: 16px;
    line-height: 1.5;
  }

  .program__link {
    font-size: 20px;
    height: 38px;
    padding-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;

    &--slim {
      background-size: 100px 106px;
      background-position: 52px 41px;
    }

    &--pro {
      background-size: 134px 100px;
      background-position: 33px 47px;
    }
  }

  .program__title {
    padding: 0;
    padding-left: 162px;
  }

  .program__description {
    padding-top: 74px;
    min-width: 453px;
    padding-bottom: 24px;
  }
}
