.program {
  background-color: $bg-primary;
  list-style: none;

  &--slim {
    background-image: url("../../icons/stack.svg#cat-1");
    background-size: 50px 53px;
    background-repeat: no-repeat;
  }

  &--pro {
    background-image: url("../../icons/stack.svg#cat-2");
    background-size: 67px 50px;
    background-repeat: no-repeat;
  }
}

.program__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 1.5;
  margin-left: 70px;
}

.program__description {
  color: $text-dark;
}

.program__link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: $text-primary;


  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#arrow");
    mask-repeat: no-repeat;
    mask-size: 20px 10px;
    width: 32px;
    height: 10px;
    display: block;
    background-color: $text-primary;
  }

  &:hover {
    mask-size: 32px 10px;
  }

  &:active {
    mask-size: 32px 10px;
    opacity: 30%;
  }
}
