.programs__list {
  margin: 0;
  padding: 0;
}

.programs {
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .programs {
    padding: 0 0 10px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-top: 82px;
    padding-bottom: 41px;
  }

  .programs__list {
    display: flex;
    gap: 80px;
  }
}
