.program {
  background-color: #f2f2f2;
}

.program__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 37px;
}

.program__description {
  color: #444444;
}

.program__link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}
