.social {
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 20px 0;
  gap: 24px;
  margin-bottom: 0;
}

.social__item {
  list-style: none;
}

.social__link {
  mask-size: 28px 22px;
  width: 28px;
  height: 22px;
  cursor: pointer;
  display: inline-block;
  background-color: currentColor;
  color: #666666;

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 60%;
  }
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vk");
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding: 0;
    margin: 0;
    padding-left: 122px;
    justify-content: start;
  }
}

@media (max-width: 1439px) {
  .social {
    justify-content: center;
  }
}


@media (min-width: $desktop-width) {
  .social {
    justify-content: start;
    padding-left: 107px;
  }
}
